/*
   Buttons
 */

button{
   border: unset;
}

.btn{
   font-family: $fontHeaders;
   display: inline-block;
   font-size: 16px;
   letter-spacing: 0.04em;
   padding: 6px 12px 5px;
   transition: all .3s ease-in-out;
}

.btn-maincolor{
   background-color: $colorMain;
   color: $lightColor;
   &:hover{
      background-color: $colorMain2;
   }
}